@model SMS.Models.EmployeeModel
@using EF.Services;
@{
	ViewBag.Title = "Employees";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Employees</h3>
    </div>
    <div class="col-md-7 align-self-center">
        @Html.Raw(Html.BuildBreadcrumbNavigation())
    </div>
</div>
<div class="row">
	<div class="col-md-12 mr-4">
		<section class="list-form">
			@using (Html.BeginForm())
			{
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<div class="input-group pull-right">
							@Html.ActionLink("Create Employee", "Create", "Employee", null, new { @class = "btn btn-primary" })
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<br />
						<div class="form-group">
							<table cellspacing="0" class="table display table-striped w-auto text-nowrap custom-table" style="width: 100% !important;">
								<thead>
                                    <tr>
                                        <th class="text-center"><input type="checkbox" id="allcheck" /></th>
                                        <th>&nbsp;</th>
                                        <th>Name</th>
                                        <th>Roll/Unique Number</th>
                                        <th>Joining Date</th>
                                        <th>Designation</th>
                                        <th>Gender</th>
                                        <th>Contract Start Date</th>
                                        <th>Contract End Date</th>
                                        <th>Active</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>
					</div>
				</div>
			}
		</section>
	</div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("li#employees ul").css("height", "");
		// Initiallize Datatable
		$('.custom-table').DataTable({
			"processing": true, // for show progress bar
			"serverSide": true, // for process server side
			"filter": true, // this is for disable filter (search box)
			"orderMulti": false, // for disable multiple column at once
			"pageLength": 25,
			"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
			"ajax": {
				"url": "/Admin/Employee/LoadGrid",
				"type": "POST",
				"datatype": "json"
			},
			"aaSorting": [],
			"columns": [
                {
                    'searchable': false,
                    "title": "",
                    "data": "",
                    "render": function (data, type, row) {
                        if (type === "display") {
                            return '<div class="form-check"><input type="checkbox" name="selectedids" class="form-check-input checkboxGroups" value="' +
                                row.Id +
                                '" id="' +
                                row.Id +
                                '"><label class="form-check-label" for="' +
                                row.Id +
                                '"></label></div>';
                        }
                        return data;
                    },
                    "orderable": false,
                    "className": 'details-control text-center',
                    "defaultContent": ""
                },
                {
                    "searchable": false,
                    "title": "",
                    "render": function (data, type, row) {
                        if (type === "display") {
                            return '<div class="thumb"><img src="' + row.PictureSrc + '" alt="" class="float-left"></div>';
                        }
                        return data;
                    },
                    "orderable": false,
                    "className": 'text-center',
                    "defaultContent": ""
                },
				{
				    "data": "", "title": "Name", "name": "Name", "autoWidth": true, "defaultContent": "", "className": "text-center",
				    "render": function (data, type, row) {
				        if (type === "display") {
				            return row.EmpFName + ((row.EmpMName != null && row.EmpMName !== "") ? (" " + row.EmpMName) : "") + ((row.EmpLName != null && row.EmpLName !== "") ? (" " + row.EmpLName) : "");
				        }
				        return data;
				    }
				},
                { "data": "Username", "title": "Roll/Unique Number", "name": "Roll/Unique Number", "autoWidth": true, "defaultContent": "", "className": "text-center" },
                {
                    "data": "", "title": "Joining Date", "name": "Joining Date", "autoWidth": true, "orderable": true, "defaultContent": "", "className": "text-center",
                    "render": function (data, type, row) {
                        if (type === "display") {
                            return moment(row.JoiningDate).format("DD MMMM YYYY");
                        }
                        return data;
                    }
                },
                {
                    "data": "Designation", "title": "Designation", "name": "Designation", "autoWidth": true, "orderable": false, "defaultContent": "", "className": "text-center",
                    "render": function (data, type, row) {
                        if (type === "display") {
                            return row.Designation;
                        }
                        return data;
                    }
                },
				{ "data": "Sex", "title": "Gender", "name": "Gender", "autoWidth": true, "orderable": false, "defaultContent": "", "className": "text-center" },
                { "data": "ContractStartDateString", "title": "Contract Start Date", "name": "Contract Start Date", "autoWidth": true, "orderable": false, "defaultContent": "", "className": "text-center" },
                { "data": "ContractEndDateString", "title": "Contract End Date", "name": "Contract End Date", "autoWidth": true, "orderable": false, "defaultContent": "", "className": "text-center" },
				{
				    "data": "IsActive",
				    "title": "Active",
				    "render": function (data, type, row) {
				        if (type === "display") {
				            if (row.IsActive) {
				                return '<a href="javascript:void(0);" id="' + row.Id + '" class="toggle_' +
                                    row.Id +
                                    '" data-operation="deactivate" data-id="' +
                                    row.Id +
                                    '" title="Deactivate Employee"><i class="fa fa-2x fa-check-circle" aria-hidden="true"></i></a>';
				            } else {
				                return '<a href="javascript:void(0);" id="' + row.Id + '" class="toggle_' +
                                    row.Id +
                                    '" data-operation="activate" data-id="' +
                                    row.Id +
                                    '" title="Activate Employee"><i class="fa fa-2x fa-close" aria-hidden="true"></i></a>';
				            }
				        }
				        return data;
				    },
				    "className": "text-center",
				    "orderable": false,
				    "defaultContent": ""
				},
				{
					"title": "Actions",
					"orderable": false,
					"className": 'text-center',
					"render": function (data, type, row) {
						if (type === "display") {
							return '<a href="/Admin/Employee/Edit/' + row.Id + '" id="edit_' + row.Id + '" title="Edit"><i class="fa fa-2x fa-pencil-square-o" aria-hidden="true"></i></a>&nbsp;&nbsp;<a id="studentid_' + row.Id + '" href="javascript:void(0);" title="Delete"><i class="fa fa-2x fa-trash-o" aria-hidden="true"></i></a>';
						}
						return data;
					},
					"defaultContent": ""
				}
			],
			"select": {
				"style": 'os',
				"selector": 'td:first-child'
			}
		});

		$(document).on('click',
                           '#allcheck',
                           function () {
                               $('.checkboxGroups').prop('checked', $(this).is(':checked')).change();
                           });

        //wire up checkboxes.
		$('.custom-table').on('change',
            'input[type=checkbox][id!=allcheck]',
            function (e) {
                var $check = $(this);
                var checked;
                if ($check.is(":checked") === true) {
                    checked = jQuery.inArray($check.val(), selectedIds);
                    if (checked === -1) {
                        //add id to selectedIds.
                        selectedIds.push($check.val());
                    }
                } else {
                    checked = jQuery.inArray($check.val(), selectedIds);
                    if (checked > -1) {
                        //remove id from selectedIds.
                        selectedIds = $.grep(selectedIds,
                            function (item, index) {
                                return item !== $check.val();
                            });
                    }
                }
                updateMasterCheckbox();
            });
    });

    function updateMasterCheckbox() {
        var numChkBoxes = $('#query-tbl input[type=checkbox][id!=allcheck]').length;
        var numChkBoxesChecked = $('#query-tbl input[type=checkbox][id!=allcheck]:checked').length;
        $('#allcheck').attr('checked', numChkBoxes === numChkBoxesChecked && numChkBoxes > 0);
    }

</script>