################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SMS/Uploads/videos/small.mp4
/SMS/Uploads/videos/131832995044178260.mp4
/SMS/Uploads/videos/131832992043362879.mp4
/SMS/Uploads/videos/131832985543191179.mp4
/SMS/Uploads/videos/131832981482244790.mp4
/SMS/Uploads/videos/131832980108068372.mp4
