@model SMS.Models.FeedbackModel
@using EF.Services.Http;
@{
	var urlHelperService = EF.Core.ContextHelper.Current.Resolve<IUrlHelper>();
	var basePath = urlHelperService.GetLocation(false);
}
<div class="tcd-title tcd-title-center mb50">
    <h2>Contact With <span>Me!</span></h2>
    <p>Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula porttitor <br>euconsequat vitae eleifend ac enim porttitor.</p>
</div>
<div class="contact-form right-side">
    <div id="formMessages"></div>
    <form id="contactForm" method="post" action="mailer.php">
        <div class="row">
            <div class="col-md-6">
                <div class="form-field">
                    <input type="text" id="name" placeholder="Name" required="" name="name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-field">
                    <input type="email" id="email" placeholder="Email *" name="email" required="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-field">
                    <input type="text" id="subject" placeholder="Subject" name="subject">
                </div>
            </div>
        </div>
        <div class="form-field">
            <textarea rows="7" id="message" placeholder="Message*" name="message" required=""></textarea>
        </div>
        <div class="form-button">
            <button type="submit" class="readon">SUBMIT NOW</button>
        </div>
    </form>
</div>
