@model SMS.Models.SliderModel
@using EF.Services.Http;
@{
    var urlHelperService = EF.Core.ContextHelper.Current.Resolve<IUrlHelper>();
    var basePath = urlHelperService.GetLocation(false);
}
<div class="owl-wrapper">
    <div class="owl-carousel testi-carousel">
        <div class="item" style="width: 1110px; margin-right: 30px;">
            <div class="testi-item">
                <div class="testi-photo">
                    <img src="/Content/Images/Clients/2.jpg" alt="Jhon Smith">
                </div>
                <div class="testi-desc">
                    <p>
                        "Nulla nec dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud elit, minim veniam, quis nostrud ullamco."
                    </p>
                </div>
                <div class="testi-info">
                    <h5 class="name">Michel David</h5>
                    <div class="position">
                        <span class="meta">Manager</span> - <a href="#">webninja.net</a>
                    </div>
                    <div class="testi-ratings">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="width: 1110px; margin-right: 30px;">
            <div class="testi-item">
                <div class="testi-photo">
                    <img src="/Content/Images/Clients/3.jpg" alt="Jhon Smith">
                </div>
                <div class="testi-desc">
                    <p>
                        "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud elit, minim veniam, quis nostrud ullamco."
                    </p>
                </div>
                <div class="testi-info">
                    <h5 class="name">James Hopes</h5>
                    <div class="position">
                        <span class="meta">Enginner</span> - <a href="#">webninja.net</a>
                    </div>
                    <div class="testi-ratings">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="item active" style="width: 1110px; margin-right: 30px;">
            <div class="testi-item">
                <div class="testi-photo">
                    <img src="/Content/Images/Clients/1.jpg" alt="Jhon Smith">
                </div>
                <div class="testi-desc">
                    <p>
                        "Donec ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud elit, minim veniam, quis nostrud ullamco."
                    </p>
                </div>
                <div class="testi-info">
                    <h5 class="name">James Kelvin</h5>
                    <div class="position">
                        <span class="meta">CEO</span> - <a href="#">webninja.net</a>
                    </div>
                    <div class="testi-ratings">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="width: 1110px; margin-right: 30px;">
            <div class="testi-item">
                <div class="testi-photo">
                    <img src="/Content/Images/Clients/2.jpg" alt="Jhon Smith">
                </div>
                <div class="testi-desc">
                    <p>
                        "Nulla nec dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud elit, minim veniam, quis nostrud ullamco."
                    </p>
                </div>
                <div class="testi-info">
                    <h5 class="name">Michel David</h5>
                    <div class="position">
                        <span class="meta">Manager</span> - <a href="#">webninja.net</a>
                    </div>
                    <div class="testi-ratings">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="width: 1110px; margin-right: 30px;">
            <div class="testi-item">
                <div class="testi-photo">
                    <img src="/Content/Images/Clients/3.jpg" alt="Jhon Smith">
                </div>
                <div class="testi-desc">
                    <p>
                        "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud elit, minim veniam, quis nostrud ullamco."
                    </p>
                </div>
                <div class="testi-info">
                    <h5 class="name">James Hopes</h5>
                    <div class="position">
                        <span class="meta">Enginner</span> - <a href="#">webninja.net</a>
                    </div>
                    <div class="testi-ratings">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="width: 1110px; margin-right: 30px;">
            <div class="testi-item">
                <div class="testi-photo">
                    <img src="/Content/Images/Clients/1.jpg" alt="Jhon Smith">
                </div>
                <div class="testi-desc">
                    <p>
                        "Donec ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud elit, minim veniam, quis nostrud ullamco."
                    </p>
                </div>
                <div class="testi-info">
                    <h5 class="name">James Kelvin</h5>
                    <div class="position">
                        <span class="meta">CEO</span> - <a href="#">webninja.net</a>
                    </div>
                    <div class="testi-ratings">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="width: 1110px; margin-right: 30px;">
            <div class="testi-item">
                <div class="testi-photo">
                    <img src="/Content/Images/Clients/2.jpg" alt="Jhon Smith">
                </div>
                <div class="testi-desc">
                    <p>
                        "Nulla nec dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud elit, minim veniam, quis nostrud ullamco."
                    </p>
                </div>
                <div class="testi-info">
                    <h5 class="name">Michel David</h5>
                    <div class="position">
                        <span class="meta">Manager</span> - <a href="#">webninja.net</a>
                    </div>
                    <div class="testi-ratings">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
