@{
    ViewBag.Title = "Register";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    <h6>Thanks for registration, Once the admin approve your profile, you can login after that.</h6>
}

<div>
    @Html.ActionLink("Back to Home", "Index","Home")
</div>
