@model SMS.Models.TeacherModel
@{
	ViewBag.Title = "Teachers";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row">
	<div class="col-md-12 mr-4">
		<section class="list-form">
			@using (Html.BeginForm())
			{
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<div class="input-group pull-right">
							@Html.ActionLink("Create Teacher", "Create", "Teacher", null, new { @class = "btn btn-primary" })
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<br />
						<div class="form-group">
							<table cellspacing="0" class="table display table-striped w-auto text-nowrap custom-table" style="width: 100%;">
								<thead>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th>Picture</th>
                                        <th>Username</th>
                                        <th>Name</th>
                                        <th>Active</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
								</thead>
								<tbody></tbody>
							</table>
						</div>
					</div>
				</div>
			}
		</section>
	</div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("li.nav-item").removeClass("active");
        $("span.nav-title:contains('Teachers')").closest("li").addClass("active");

		// Initiallize Datatable
		$('.custom-table').DataTable({
			"processing": true, // for show progress bar
			"serverSide": true, // for process server side
			"filter": true, // this is for disable filter (search box)
			"orderMulti": false, // for disable multiple column at once
			"pageLength": 25,
			"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
			"ajax": {
				"url": "/Admin/Teacher/LoadGrid",
				"type": "POST",
				"datatype": "json"
			},
			"aaSorting": [],
			"columns": [
                {
                    'searchable': false,
                    "title": "",
                    "data": "",
                    "render": function (data, type, row) {
                        if (type === "display") {
                            return '<div class="form-check"><input type="checkbox" name="selectedids" ' + ' class="form-check-input checkboxGroups" value="' +
                                row.Id +
                                '" id="' +
                                row.Id +
                                '"><label class="form-check-label" for="' +
                                row.Id +
                                '"></label></div>';
                        }
                        return data;
                    },
                    "orderable": false,
                    "className": 'text-center',
                    "defaultContent": ""
                },
                {
                    "searchable": false,
                    "title": "",
                    "render": function (data, type, row) {
                        if (type === "display") {
                            return '<div class="thumb"><a href="' + row.Url + '" title="row.Name" target="_blank" ><img src="' + row.PictureSrc + '" alt="" class="float-left"></a></div>';
                        }
                        return data;
                    },
                    "orderable": false,
                    "className": 'text-center',
                    "defaultContent": ""
                },
				{ "data": "Username", "title": "Username", "name": "Username", "autoWidth": true, "defaultContent": "", "className": "text-center" },
                { "data": "Name", "title": "Name", "name": "Name", "autoWidth": true, "orderable": true, "defaultContent": "", "className": "text-center" },
				{
					"data": "IsActive",
					"title": "Active",
					"render": function (data, type, row) {
						if (type === "display") {
							if (row.IsActive) {
								return '<i class="fa fa-2x fa-check-circle" aria-hidden="true"></i>';
							} else {
								return '<i class="fa fa-2x fa-close" aria-hidden="true"></i>';
							}
						}
						return data;
					},
					"className": "text-center",
					"orderable": false,
					"defaultContent": ""
				},
				{
					"title": "Actions",
					"orderable": false,
					"className": 'text-center',
					"render": function (data, type, row) {
						if (type === "display") {
						    return '<a href="/Admin/Teacher/Edit/' + row.Id + '" id="edit_' + row.Id + '" title="Edit"><i class="fa fa-2x fa-pencil-square-o" aria-hidden="true"></i></a>&nbsp;&nbsp;<a class="btn btn-info" href="/Admin/Exam/TeacherExams/' + row.Id + '" id="edit_' + row.Id + '" title="Assign Exams">Add/Update Exams</a>';
						}
						return data;
					},
					"defaultContent": ""
				}
			],
			"select": {
				"style": 'os',
				"selector": 'td:first-child'
			}
		});
	});
</script>