<div style="display: block;margin-top: 0em;" class="search-form" role="search">
	<div class="form-group waves-light waves-effect waves-light">
		<input type="text" class="form-control" placeholder="Search">
	</div>
</div>
