@model SMS.Models.ClassRoomDivisionModel
@{
    ViewBag.Title = "Divisions";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12 mr-4">
        <section class="list-form">
            @using (Html.BeginForm())
            {
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="input-group pull-right">
                            @Html.ActionLink("Create Division", "Create", "Division", null, new { @class = "btn btn-primary" })
                            &nbsp;&nbsp;
                            @Html.ActionLink("Create Class", "Create", "Class", null, new { @class = "btn btn-info" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <br />
                        <div class="form-group">
                            <table cellspacing="0" class="table display table-striped w-auto text-nowrap custom-table" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th class="text-center">Class</th>
                                        <th class="text-center">Division</th>
                                        <th class="text-center">ClassRoom</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>}
        </section>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("li.nav-item").removeClass("active");
        $("span.nav-title:contains('Divisions')").closest("li").addClass("active");

        // Initiallize Datatable
        $('.custom-table').DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "pageLength": 25,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "ajax": {
                "url": "/Admin/ClassRoomDivision/LoadGrid",
                "type": "POST",
                "datatype": "json"
            },
            "aaSorting": [],
            "columns": [
				{
				    "data": "Class", "title": "Class", "name": "Class", "autoWidth": true, "defaultContent": "", "className": "text-center",
				},
                {
                    "data": "Division", "title": "Division", "name": "Division", "autoWidth": true, "defaultContent": "", "className": "text-center",
                },
                {
                    "data": "ClassRoom", "title": "ClassRoom", "name": "ClassRoom", "autoWidth": true, "defaultContent": "", "className": "text-center",
                },
				{
				    "title": "Actions",
				    "orderable": false,
				    "className": 'text-center',
				    "render": function (data, type, row) {
				        if (type === "display") {
				            return '<a href="/Admin/ClassRoomDivision/Edit?id=' + row.Id + '" id="edit_' + row.Id + '" title="Edit"><i class="fa fa-2x fa-pencil-square-o" aria-hidden="true"></i></a>';
				        }
				        return data;
				    },
				    "defaultContent": ""
				}
            ],
            "select": {
                "style": 'os',
                "selector": 'td:first-child'
            }
        });
    });
</script>