@model SMS.Models.FeeDetailModel
@{
    ViewBag.Title = "Fee Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12 mr-4">
        <section class="list-form">
            @using (Html.BeginForm())
            {
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="input-group pull-right">
                            @Html.ActionLink("Enter Fee Detail", "Create", "FeeDetail", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <br />
                        <div class="form-group">
                            <table cellspacing="0" class="table display table-striped w-auto text-nowrap custom-table" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th class="text-center">Student</th>
                                        <th class="text-center">Total Fees</th>
                                        <th class="text-center">Fee Paid</th>
                                        <th class="text-center">Status</th>
                                        <th class="text-center">Cashier</th>
                                        <th class="text-center">Paying Mode</th>
                                        <th class="text-center">Date</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
        </section>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("li.nav-item").removeClass("active");
        $("span.nav-title:contains('Fee Categories')").closest("li").addClass("active");

        // Initiallize Datatable
        $('.custom-table').DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "pageLength": 25,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "ajax": {
                "url": "/Admin/FeeDetail/LoadGrid",
                "type": "POST",
                "datatype": "json"
            },
            "aaSorting": [],
            "columns": [
				{
				    "data": "Student", "title": "Student", "name": "Student", "autoWidth": true, "defaultContent": "", "className": "text-center",
				},
                {
                    "data": "TotalFees", "title": "Total Fees", "name": "Total Fees", "autoWidth": true, "defaultContent": "", "className": "text-center",
                },
                {
                    "data": "FeesPaid", "title": "Fees Paid", "name": "Fees Paid", "autoWidth": true, "defaultContent": "", "className": "text-center",
                },
                {
                    "data": "Status", "title": "Status", "name": "Status", "autoWidth": true, "defaultContent": "", "className": "text-center",
                },
                {
                    "data": "CashierName", "title": "Cashier", "name": "Cashier", "autoWidth": true, "defaultContent": "", "className": "text-center",
                },
                {
                    "data": "PayingMode", "title": "Mode", "name": "Mode", "autoWidth": true, "defaultContent": "", "className": "text-center",
                },
                {
                    "data": "StringDate", "title": "Date", "name": "Date", "autoWidth": true, "defaultContent": "", "className": "text-center",
                },
				{
				    "title": "Actions",
				    "orderable": false,
				    "className": 'text-center',
				    "render": function (data, type, row) {
				        if (type === "display") {
				            return '<a href="/Admin/FeeDetail/Edit?id=' + row.Id + '" id="edit_' + row.Id + '" title="Edit"><i class="fa fa-2x fa-pencil-square-o" aria-hidden="true"></i></a>';
				        }
				        return data;
				    },
				    "defaultContent": ""
				}
            ],
            "select": {
                "style": 'os',
                "selector": 'td:first-child'
            }
        });
    });
</script>