@font-face {
	font-family: 'themeicon';
	src:url('fonts/themeicon.eot?-fvbane');
	src:url('fonts/themeicon.eot?#iefix-fvbane') format('embedded-opentype'),
		url('fonts/themeicon.woff') format('woff'),
		url('fonts/themeicon.ttf') format('truetype'),
		url('fonts/themeicon.svg?-fvbane#themeicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ti-"], [class*=" ti-"] {
	font-family: 'themeicon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.ti-home:before {
  content: "\e900";
}
.ti-home2:before {
  content: "\e901";
}
.ti-home3:before {
  content: "\e902";
}
.ti-office:before {
  content: "\e903";
}
.ti-newspaper:before {
  content: "\e904";
}
.ti-pencil:before {
  content: "\e905";
}
.ti-pencil2:before {
  content: "\e906";
}
.ti-quill:before {
  content: "\e907";
}
.ti-pen:before {
  content: "\e908";
}
.ti-blog:before {
  content: "\e909";
}
.ti-eyedropper:before {
  content: "\e90a";
}
.ti-droplet:before {
  content: "\e90b";
}
.ti-paint-format:before {
  content: "\e90c";
}
.ti-image:before {
  content: "\e90d";
}
.ti-images:before {
  content: "\e90e";
}
.ti-camera:before {
  content: "\e90f";
}
.ti-headphones:before {
  content: "\e910";
}
.ti-music:before {
  content: "\e911";
}
.ti-play:before {
  content: "\e912";
}
.ti-film:before {
  content: "\e913";
}
.ti-video-camera:before {
  content: "\e914";
}
.ti-dice:before {
  content: "\e915";
}
.ti-pacman:before {
  content: "\e916";
}
.ti-spades:before {
  content: "\e917";
}
.ti-clubs:before {
  content: "\e918";
}
.ti-diamonds:before {
  content: "\e919";
}
.ti-bullhorn:before {
  content: "\e91a";
}
.ti-connection:before {
  content: "\e91b";
}
.ti-podcast:before {
  content: "\e91c";
}
.ti-feed:before {
  content: "\e91d";
}
.ti-mic:before {
  content: "\e91e";
}
.ti-book:before {
  content: "\e91f";
}
.ti-books:before {
  content: "\e920";
}
.ti-library:before {
  content: "\e921";
}
.ti-file-text:before {
  content: "\e922";
}
.ti-profile:before {
  content: "\e923";
}
.ti-file-empty:before {
  content: "\e924";
}
.ti-files-empty:before {
  content: "\e925";
}
.ti-file-text2:before {
  content: "\e926";
}
.ti-file-picture:before {
  content: "\e927";
}
.ti-file-music:before {
  content: "\e928";
}
.ti-file-play:before {
  content: "\e929";
}
.ti-file-video:before {
  content: "\e92a";
}
.ti-file-zip:before {
  content: "\e92b";
}
.ti-copy:before {
  content: "\e92c";
}
.ti-paste:before {
  content: "\e92d";
}
.ti-stack:before {
  content: "\e92e";
}
.ti-folder:before {
  content: "\e92f";
}
.ti-folder-open:before {
  content: "\e930";
}
.ti-folder-plus:before {
  content: "\e931";
}
.ti-folder-minus:before {
  content: "\e932";
}
.ti-folder-download:before {
  content: "\e933";
}
.ti-folder-upload:before {
  content: "\e934";
}
.ti-price-tag:before {
  content: "\e935";
}
.ti-price-tags:before {
  content: "\e936";
}
.ti-barcode:before {
  content: "\e937";
}
.ti-qrcode:before {
  content: "\e938";
}
.ti-ticket:before {
  content: "\e939";
}
.ti-cart:before {
  content: "\e93a";
}
.ti-coin-dollar:before {
  content: "\e93b";
}
.ti-coin-euro:before {
  content: "\e93c";
}
.ti-coin-pound:before {
  content: "\e93d";
}
.ti-coin-yen:before {
  content: "\e93e";
}
.ti-credit-card:before {
  content: "\e93f";
}
.ti-calculator:before {
  content: "\e940";
}
.ti-lifebuoy:before {
  content: "\e941";
}
.ti-phone:before {
  content: "\e942";
}
.ti-phone-hang-up:before {
  content: "\e943";
}
.ti-address-book:before {
  content: "\e944";
}
.ti-envelop:before {
  content: "\e945";
}
.ti-pushpin:before {
  content: "\e946";
}
.ti-location:before {
  content: "\e947";
}
.ti-location2:before {
  content: "\e948";
}
.ti-compass:before {
  content: "\e949";
}
.ti-compass2:before {
  content: "\e94a";
}
.ti-map:before {
  content: "\e94b";
}
.ti-map2:before {
  content: "\e94c";
}
.ti-history:before {
  content: "\e94d";
}
.ti-clock:before {
  content: "\e94e";
}
.ti-clock2:before {
  content: "\e94f";
}
.ti-alarm:before {
  content: "\e950";
}
.ti-bell:before {
  content: "\e951";
}
.ti-stopwatch:before {
  content: "\e952";
}
.ti-calendar:before {
  content: "\e953";
}
.ti-printer:before {
  content: "\e954";
}
.ti-keyboard:before {
  content: "\e955";
}
.ti-display:before {
  content: "\e956";
}
.ti-laptop:before {
  content: "\e957";
}
.ti-mobile:before {
  content: "\e958";
}
.ti-mobile2:before {
  content: "\e959";
}
.ti-tablet:before {
  content: "\e95a";
}
.ti-tv:before {
  content: "\e95b";
}
.ti-drawer:before {
  content: "\e95c";
}
.ti-drawer2:before {
  content: "\e95d";
}
.ti-box-add:before {
  content: "\e95e";
}
.ti-box-remove:before {
  content: "\e95f";
}
.ti-download:before {
  content: "\e960";
}
.ti-upload:before {
  content: "\e961";
}
.ti-floppy-disk:before {
  content: "\e962";
}
.ti-drive:before {
  content: "\e963";
}
.ti-database:before {
  content: "\e964";
}
.ti-undo:before {
  content: "\e965";
}
.ti-redo:before {
  content: "\e966";
}
.ti-undo2:before {
  content: "\e967";
}
.ti-redo2:before {
  content: "\e968";
}
.ti-forward:before {
  content: "\e969";
}
.ti-reply:before {
  content: "\e96a";
}
.ti-bubble:before {
  content: "\e96b";
}
.ti-bubbles:before {
  content: "\e96c";
}
.ti-bubbles2:before {
  content: "\e96d";
}
.ti-bubble2:before {
  content: "\e96e";
}
.ti-bubbles3:before {
  content: "\e96f";
}
.ti-bubbles4:before {
  content: "\e970";
}
.ti-user:before {
  content: "\e971";
}
.ti-users:before {
  content: "\e972";
}
.ti-user-plus:before {
  content: "\e973";
}
.ti-user-minus:before {
  content: "\e974";
}
.ti-user-check:before {
  content: "\e975";
}
.ti-user-tie:before {
  content: "\e976";
}
.ti-quotes-left:before {
  content: "\e977";
}
.ti-quotes-right:before {
  content: "\e978";
}
.ti-hour-glass:before {
  content: "\e979";
}
.ti-spinner:before {
  content: "\e97a";
}
.ti-spinner2:before {
  content: "\e97b";
}
.ti-spinner3:before {
  content: "\e97c";
}
.ti-spinner4:before {
  content: "\e97d";
}
.ti-spinner5:before {
  content: "\e97e";
}
.ti-spinner6:before {
  content: "\e97f";
}
.ti-spinner7:before {
  content: "\e980";
}
.ti-spinner8:before {
  content: "\e981";
}
.ti-spinner9:before {
  content: "\e982";
}
.ti-spinner10:before {
  content: "\e983";
}
.ti-spinner11:before {
  content: "\e984";
}
.ti-binoculars:before {
  content: "\e985";
}
.ti-search:before {
  content: "\e986";
}
.ti-zoom-in:before {
  content: "\e987";
}
.ti-zoom-out:before {
  content: "\e988";
}
.ti-enlarge:before {
  content: "\e989";
}
.ti-shrink:before {
  content: "\e98a";
}
.ti-enlarge2:before {
  content: "\e98b";
}
.ti-shrink2:before {
  content: "\e98c";
}
.ti-key:before {
  content: "\e98d";
}
.ti-key2:before {
  content: "\e98e";
}
.ti-lock:before {
  content: "\e98f";
}
.ti-unlocked:before {
  content: "\e990";
}
.ti-wrench:before {
  content: "\e991";
}
.ti-equalizer:before {
  content: "\e992";
}
.ti-equalizer2:before {
  content: "\e993";
}
.ti-cog:before {
  content: "\e994";
}
.ti-cogs:before {
  content: "\e995";
}
.ti-hammer:before {
  content: "\e996";
}
.ti-magic-wand:before {
  content: "\e997";
}
.ti-aid-kit:before {
  content: "\e998";
}
.ti-bug:before {
  content: "\e999";
}
.ti-pie-chart:before {
  content: "\e99a";
}
.ti-stats-dots:before {
  content: "\e99b";
}
.ti-stats-bars:before {
  content: "\e99c";
}
.ti-stats-bars2:before {
  content: "\e99d";
}
.ti-trophy:before {
  content: "\e99e";
}
.ti-gift:before {
  content: "\e99f";
}
.ti-glass:before {
  content: "\e9a0";
}
.ti-glass2:before {
  content: "\e9a1";
}
.ti-mug:before {
  content: "\e9a2";
}
.ti-spoon-knife:before {
  content: "\e9a3";
}
.ti-leaf:before {
  content: "\e9a4";
}
.ti-rocket:before {
  content: "\e9a5";
}
.ti-meter:before {
  content: "\e9a6";
}
.ti-meter2:before {
  content: "\e9a7";
}
.ti-hammer2:before {
  content: "\e9a8";
}
.ti-fire:before {
  content: "\e9a9";
}
.ti-lab:before {
  content: "\e9aa";
}
.ti-magnet:before {
  content: "\e9ab";
}
.ti-bin:before {
  content: "\e9ac";
}
.ti-bin2:before {
  content: "\e9ad";
}
.ti-briefcase:before {
  content: "\e9ae";
}
.ti-airplane:before {
  content: "\e9af";
}
.ti-truck:before {
  content: "\e9b0";
}
.ti-road:before {
  content: "\e9b1";
}
.ti-accessibility:before {
  content: "\e9b2";
}
.ti-target:before {
  content: "\e9b3";
}
.ti-shield:before {
  content: "\e9b4";
}
.ti-power:before {
  content: "\e9b5";
}
.ti-switch:before {
  content: "\e9b6";
}
.ti-power-cord:before {
  content: "\e9b7";
}
.ti-clipboard:before {
  content: "\e9b8";
}
.ti-list-numbered:before {
  content: "\e9b9";
}
.ti-list:before {
  content: "\e9ba";
}
.ti-list2:before {
  content: "\e9bb";
}
.ti-tree:before {
  content: "\e9bc";
}
.ti-menu:before {
  content: "\e9bd";
}
.ti-menu2:before {
  content: "\e9be";
}
.ti-menu3:before {
  content: "\e9bf";
}
.ti-menu4:before {
  content: "\e9c0";
}
.ti-cloud:before {
  content: "\e9c1";
}
.ti-cloud-download:before {
  content: "\e9c2";
}
.ti-cloud-upload:before {
  content: "\e9c3";
}
.ti-cloud-check:before {
  content: "\e9c4";
}
.ti-download2:before {
  content: "\e9c5";
}
.ti-upload2:before {
  content: "\e9c6";
}
.ti-download3:before {
  content: "\e9c7";
}
.ti-upload3:before {
  content: "\e9c8";
}
.ti-sphere:before {
  content: "\e9c9";
}
.ti-earth:before {
  content: "\e9ca";
}
.ti-link:before {
  content: "\e9cb";
}
.ti-flag:before {
  content: "\e9cc";
}
.ti-attachment:before {
  content: "\e9cd";
}
.ti-eye:before {
  content: "\e9ce";
}
.ti-eye-plus:before {
  content: "\e9cf";
}
.ti-eye-minus:before {
  content: "\e9d0";
}
.ti-eye-blocked:before {
  content: "\e9d1";
}
.ti-bookmark:before {
  content: "\e9d2";
}
.ti-bookmarks:before {
  content: "\e9d3";
}
.ti-sun:before {
  content: "\e9d4";
}
.ti-contrast:before {
  content: "\e9d5";
}
.ti-brightness-contrast:before {
  content: "\e9d6";
}
.ti-star-empty:before {
  content: "\e9d7";
}
.ti-star-half:before {
  content: "\e9d8";
}
.ti-star-full:before {
  content: "\e9d9";
}
.ti-heart:before {
  content: "\e9da";
}
.ti-heart-broken:before {
  content: "\e9db";
}
.ti-man:before {
  content: "\e9dc";
}
.ti-woman:before {
  content: "\e9dd";
}
.ti-man-woman:before {
  content: "\e9de";
}
.ti-happy:before {
  content: "\e9df";
}
.ti-happy2:before {
  content: "\e9e0";
}
.ti-smile:before {
  content: "\e9e1";
}
.ti-smile2:before {
  content: "\e9e2";
}
.ti-tongue:before {
  content: "\e9e3";
}
.ti-tongue2:before {
  content: "\e9e4";
}
.ti-sad:before {
  content: "\e9e5";
}
.ti-sad2:before {
  content: "\e9e6";
}
.ti-wink:before {
  content: "\e9e7";
}
.ti-wink2:before {
  content: "\e9e8";
}
.ti-grin:before {
  content: "\e9e9";
}
.ti-grin2:before {
  content: "\e9ea";
}
.ti-cool:before {
  content: "\e9eb";
}
.ti-cool2:before {
  content: "\e9ec";
}
.ti-angry:before {
  content: "\e9ed";
}
.ti-angry2:before {
  content: "\e9ee";
}
.ti-evil:before {
  content: "\e9ef";
}
.ti-evil2:before {
  content: "\e9f0";
}
.ti-shocked:before {
  content: "\e9f1";
}
.ti-shocked2:before {
  content: "\e9f2";
}
.ti-baffled:before {
  content: "\e9f3";
}
.ti-baffled2:before {
  content: "\e9f4";
}
.ti-confused:before {
  content: "\e9f5";
}
.ti-confused2:before {
  content: "\e9f6";
}
.ti-neutral:before {
  content: "\e9f7";
}
.ti-neutral2:before {
  content: "\e9f8";
}
.ti-hipster:before {
  content: "\e9f9";
}
.ti-hipster2:before {
  content: "\e9fa";
}
.ti-wondering:before {
  content: "\e9fb";
}
.ti-wondering2:before {
  content: "\e9fc";
}
.ti-sleepy:before {
  content: "\e9fd";
}
.ti-sleepy2:before {
  content: "\e9fe";
}
.ti-frustrated:before {
  content: "\e9ff";
}
.ti-frustrated2:before {
  content: "\ea00";
}
.ti-crying:before {
  content: "\ea01";
}
.ti-crying2:before {
  content: "\ea02";
}
.ti-point-up:before {
  content: "\ea03";
}
.ti-point-right:before {
  content: "\ea04";
}
.ti-point-down:before {
  content: "\ea05";
}
.ti-point-left:before {
  content: "\ea06";
}
.ti-warning:before {
  content: "\ea07";
}
.ti-notification:before {
  content: "\ea08";
}
.ti-question:before {
  content: "\ea09";
}
.ti-plus:before {
  content: "\ea0a";
}
.ti-minus:before {
  content: "\ea0b";
}
.ti-info:before {
  content: "\ea0c";
}
.ti-cancel-circle:before {
  content: "\ea0d";
}
.ti-blocked:before {
  content: "\ea0e";
}
.ti-cross:before {
  content: "\ea0f";
}
.ti-checkmark:before {
  content: "\ea10";
}
.ti-checkmark2:before {
  content: "\ea11";
}
.ti-spell-check:before {
  content: "\ea12";
}
.ti-enter:before {
  content: "\ea13";
}
.ti-exit:before {
  content: "\ea14";
}
.ti-play2:before {
  content: "\ea15";
}
.ti-pause:before {
  content: "\ea16";
}
.ti-stop:before {
  content: "\ea17";
}
.ti-previous:before {
  content: "\ea18";
}
.ti-next:before {
  content: "\ea19";
}
.ti-backward:before {
  content: "\ea1a";
}
.ti-forward2:before {
  content: "\ea1b";
}
.ti-play3:before {
  content: "\ea1c";
}
.ti-pause2:before {
  content: "\ea1d";
}
.ti-stop2:before {
  content: "\ea1e";
}
.ti-backward2:before {
  content: "\ea1f";
}
.ti-forward3:before {
  content: "\ea20";
}
.ti-first:before {
  content: "\ea21";
}
.ti-last:before {
  content: "\ea22";
}
.ti-previous2:before {
  content: "\ea23";
}
.ti-next2:before {
  content: "\ea24";
}
.ti-eject:before {
  content: "\ea25";
}
.ti-volume-high:before {
  content: "\ea26";
}
.ti-volume-medium:before {
  content: "\ea27";
}
.ti-volume-low:before {
  content: "\ea28";
}
.ti-volume-mute:before {
  content: "\ea29";
}
.ti-volume-mute2:before {
  content: "\ea2a";
}
.ti-volume-increase:before {
  content: "\ea2b";
}
.ti-volume-decrease:before {
  content: "\ea2c";
}
.ti-loop:before {
  content: "\ea2d";
}
.ti-loop2:before {
  content: "\ea2e";
}
.ti-infinite:before {
  content: "\ea2f";
}
.ti-shuffle:before {
  content: "\ea30";
}
.ti-arrow-up-left:before {
  content: "\ea31";
}
.ti-arrow-up:before {
  content: "\ea32";
}
.ti-arrow-up-right:before {
  content: "\ea33";
}
.ti-arrow-right:before {
  content: "\ea34";
}
.ti-arrow-down-right:before {
  content: "\ea35";
}
.ti-arrow-down:before {
  content: "\ea36";
}
.ti-arrow-down-left:before {
  content: "\ea37";
}
.ti-arrow-left:before {
  content: "\ea38";
}
.ti-arrow-up-left2:before {
  content: "\ea39";
}
.ti-arrow-up2:before {
  content: "\ea3a";
}
.ti-arrow-up-right2:before {
  content: "\ea3b";
}
.ti-arrow-right2:before {
  content: "\ea3c";
}
.ti-arrow-down-right2:before {
  content: "\ea3d";
}
.ti-arrow-down2:before {
  content: "\ea3e";
}
.ti-arrow-down-left2:before {
  content: "\ea3f";
}
.ti-arrow-left2:before {
  content: "\ea40";
}
.ti-circle-up:before {
  content: "\ea41";
}
.ti-circle-right:before {
  content: "\ea42";
}
.ti-circle-down:before {
  content: "\ea43";
}
.ti-circle-left:before {
  content: "\ea44";
}
.ti-tab:before {
  content: "\ea45";
}
.ti-move-up:before {
  content: "\ea46";
}
.ti-move-down:before {
  content: "\ea47";
}
.ti-sort-alpha-asc:before {
  content: "\ea48";
}
.ti-sort-alpha-desc:before {
  content: "\ea49";
}
.ti-sort-numeric-asc:before {
  content: "\ea4a";
}
.ti-sort-numberic-desc:before {
  content: "\ea4b";
}
.ti-sort-amount-asc:before {
  content: "\ea4c";
}
.ti-sort-amount-desc:before {
  content: "\ea4d";
}
.ti-command:before {
  content: "\ea4e";
}
.ti-shift:before {
  content: "\ea4f";
}
.ti-ctrl:before {
  content: "\ea50";
}
.ti-opt:before {
  content: "\ea51";
}
.ti-checkbox-checked:before {
  content: "\ea52";
}
.ti-checkbox-unchecked:before {
  content: "\ea53";
}
.ti-radio-checked:before {
  content: "\ea54";
}
.ti-radio-checked2:before {
  content: "\ea55";
}
.ti-radio-unchecked:before {
  content: "\ea56";
}
.ti-crop:before {
  content: "\ea57";
}
.ti-make-group:before {
  content: "\ea58";
}
.ti-ungroup:before {
  content: "\ea59";
}
.ti-scissors:before {
  content: "\ea5a";
}
.ti-filter:before {
  content: "\ea5b";
}
.ti-font:before {
  content: "\ea5c";
}
.ti-ligature:before {
  content: "\ea5d";
}
.ti-ligature2:before {
  content: "\ea5e";
}
.ti-text-height:before {
  content: "\ea5f";
}
.ti-text-width:before {
  content: "\ea60";
}
.ti-font-size:before {
  content: "\ea61";
}
.ti-bold:before {
  content: "\ea62";
}
.ti-underline:before {
  content: "\ea63";
}
.ti-italic:before {
  content: "\ea64";
}
.ti-strikethrough:before {
  content: "\ea65";
}
.ti-omega:before {
  content: "\ea66";
}
.ti-sigma:before {
  content: "\ea67";
}
.ti-superscript2:before {
  content: "\ea6b";
}
.ti-text-color:before {
  content: "\ea6d";
}
.ti-pagebreak:before {
  content: "\ea6e";
}
.ti-table2:before {
  content: "\ea71";
}
.ti-insert-template:before {
  content: "\ea72";
}
.ti-pilcrow:before {
  content: "\ea73";
}
.ti-ltr:before {
  content: "\ea74";
}
.ti-rtl:before {
  content: "\ea75";
}
.ti-section:before {
  content: "\ea76";
}
.ti-embed:before {
  content: "\ea7f";
}
.ti-embed2:before {
  content: "\ea80";
}
.ti-terminal:before {
  content: "\ea81";
}
.ti-share2:before {
  content: "\ea82";
}
.ti-mail:before {
  content: "\ea83";
}
.ti-mail2:before {
  content: "\ea84";
}
.ti-mail3:before {
  content: "\ea85";
}
.ti-mail4:before {
  content: "\ea86";
}
.ti-amazon:before {
  content: "\ea87";
}
.ti-google:before {
  content: "\ea88";
}
.ti-google2:before {
  content: "\ea89";
}
.ti-google3:before {
  content: "\ea8a";
}
.ti-google-plus:before {
  content: "\ea8b";
}
.ti-google-plus2:before {
  content: "\ea8c";
}
.ti-google-plus3:before {
  content: "\ea8d";
}
.ti-hangouts:before {
  content: "\ea8e";
}
.ti-google-drive:before {
  content: "\ea8f";
}
.ti-facebook:before {
  content: "\ea90";
}
.ti-facebook2:before {
  content: "\ea91";
}
.ti-instagram:before {
  content: "\ea92";
}
.ti-whatsapp:before {
  content: "\ea93";
}
.ti-spotify:before {
  content: "\ea94";
}
.ti-telegram:before {
  content: "\ea95";
}
.ti-twitter:before {
  content: "\ea96";
}
.ti-vine:before {
  content: "\ea97";
}
.ti-vk:before {
  content: "\ea98";
}
.ti-renren:before {
  content: "\ea99";
}
.ti-sina-weibo:before {
  content: "\ea9a";
}
.ti-rss:before {
  content: "\ea9b";
}
.ti-rss2:before {
  content: "\ea9c";
}
.ti-youtube:before {
  content: "\ea9d";
}
.ti-youtube2:before {
  content: "\ea9e";
}
.ti-twitch:before {
  content: "\ea9f";
}
.ti-vimeo:before {
  content: "\eaa0";
}
.ti-vimeo2:before {
  content: "\eaa1";
}
.ti-lanyrd:before {
  content: "\eaa2";
}
.ti-flickr:before {
  content: "\eaa3";
}
.ti-flickr2:before {
  content: "\eaa4";
}
.ti-flickr3:before {
  content: "\eaa5";
}
.ti-flickr4:before {
  content: "\eaa6";
}
.ti-dribbble:before {
  content: "\eaa7";
}
.ti-behance:before {
  content: "\eaa8";
}
.ti-behance2:before {
  content: "\eaa9";
}
.ti-deviantart:before {
  content: "\eaaa";
}
.ti-500px:before {
  content: "\eaab";
}
.ti-steam:before {
  content: "\eaac";
}
.ti-steam2:before {
  content: "\eaad";
}
.ti-dropbox:before {
  content: "\eaae";
}
.ti-onedrive:before {
  content: "\eaaf";
}
.ti-github:before {
  content: "\eab0";
}
.ti-npm:before {
  content: "\eab1";
}
.ti-basecamp:before {
  content: "\eab2";
}
.ti-trello:before {
  content: "\eab3";
}
.ti-wordpress:before {
  content: "\eab4";
}
.ti-joomla:before {
  content: "\eab5";
}
.ti-ello:before {
  content: "\eab6";
}
.ti-blogger:before {
  content: "\eab7";
}
.ti-blogger2:before {
  content: "\eab8";
}
.ti-tumblr:before {
  content: "\eab9";
}
.ti-tumblr2:before {
  content: "\eaba";
}
.ti-yahoo:before {
  content: "\eabb";
}
.ti-yahoo2:before {
  content: "\eabc";
}
.ti-tux:before {
  content: "\eabd";
}
.ti-appleinc:before {
  content: "\eabe";
}
.ti-finder:before {
  content: "\eabf";
}
.ti-android:before {
  content: "\eac0";
}
.ti-windows:before {
  content: "\eac1";
}
.ti-windows8:before {
  content: "\eac2";
}
.ti-soundcloud:before {
  content: "\eac3";
}
.ti-soundcloud2:before {
  content: "\eac4";
}
.ti-skype:before {
  content: "\eac5";
}
.ti-reddit:before {
  content: "\eac6";
}
.ti-hackernews:before {
  content: "\eac7";
}
.ti-wikipedia:before {
  content: "\eac8";
}
.ti-linkedin:before {
  content: "\eac9";
}
.ti-linkedin2:before {
  content: "\eaca";
}
.ti-lastfm:before {
  content: "\eacb";
}
.ti-lastfm2:before {
  content: "\eacc";
}
.ti-delicious:before {
  content: "\eacd";
}
.ti-stumbleupon:before {
  content: "\eace";
}
.ti-stumbleupon2:before {
  content: "\eacf";
}
.ti-stackoverflow:before {
  content: "\ead0";
}
.ti-pinterest:before {
  content: "\ead1";
}
.ti-pinterest2:before {
  content: "\ead2";
}
.ti-xing:before {
  content: "\ead3";
}
.ti-xing2:before {
  content: "\ead4";
}
.ti-flattr:before {
  content: "\ead5";
}
.ti-foursquare:before {
  content: "\ead6";
}
.ti-yelp:before {
  content: "\ead7";
}
.ti-paypal:before {
  content: "\ead8";
}
.ti-chrome:before {
  content: "\ead9";
}
.ti-firefox:before {
  content: "\eada";
}
.ti-IE:before {
  content: "\eadb";
}
.ti-edge:before {
  content: "\eadc";
}
.ti-safari:before {
  content: "\eadd";
}
.ti-opera:before {
  content: "\eade";
}
.ti-file-pdf:before {
  content: "\eadf";
}
.ti-file-openoffice:before {
  content: "\eae0";
}
.ti-file-word:before {
  content: "\eae1";
}
.ti-file-excel:before {
  content: "\eae2";
}
.ti-libreoffice:before {
  content: "\eae3";
}
.ti-html-five:before {
  content: "\eae4";
}
.ti-html-five2:before {
  content: "\eae5";
}
.ti-css3:before {
  content: "\eae6";
}
.ti-git:before {
  content: "\eae7";
}
.ti-codepen:before {
  content: "\eae8";
}
.ti-svg:before {
  content: "\eae9";
}
.ti-IcoMoon:before {
  content: "\eaea";
}