@model SMS.Models.EventModel
<div class="panel-group">
	@if (Model.Id > 0)
	{
		<div class="panel panel-default">
			<div class="panel-body table-responsive">
				<table classs="table product-table" id="eventpictures-grid">
					<thead class="mdb-color lighten-5">
						<tr>
							<th>&nbsp;</th>
							<th>Start Date</th>
							<th>End Date</th>
							<th>Default</th>
							<th>Display Order</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
				<script type="text/javascript">
					$("input[name^=default_]").change(function () {
						if ($(this).prop('checked')) {
							$("input[name^=default_]").attr("checked", false);
							$(this).attr('checked', true).val(true);
						}
						else {
							$(this).attr('checked', false).val(false);
						}
					});

					// Initiallize Datatable
					$('.custom-table').DataTable({
						"paging": false,
						"bLengthChange" : false, //thought this line could hide the LengthMenu
						"bInfo":false,
						"processing": true, // for show progress bar
						"serverSide": true, // for process server side
						"filter": false, // this is for disable filter (search box)
						"orderMulti": false, // for disable multiple column at once
						"ajax": {
							"url": "/Admin/Event/LoadPictureGrid/@(Model.Id)",
							"type": "POST",
							"datatype": "json"
						},
						"aaSorting": [],
						"columns": [
							{
								"searchable": false,
								"title": "",
								"render": function (data, type, row) {
									if (type === "display") {
										return '<img src="' + row.PictureSrc + '" alt="" class="img-fluid z-depth-0">';
									}
									return data;
								},
								"orderable": false,
								"className": 'text-center'
							},
							{
							"data": "StartDate",
							"title": "Start Date",
							"render": function (data, type, row) {
								if (type === "display") {
									var dateTemplate = '<input type="text" id="start_';
									dateTemplate += row.Id;
									dateTemplate += ' value=';
									dateTemplate += (row.StartDate != null && row.StartDate !== "" ? row.StartDate : "");
									dateTemplate += ' aria - label="Display Order" class="form- control datepicker" style= "width: 100px"><script type="text/ javascript">';
									dateTemplate += ' $(start_' + row.Id + ').pickadate({ format: "d MMM yyyy" });';
									dateTemplate += 'var $input = $(start_' + row.Id + ').pickadate();';
									dateTemplate += 'var picker = $input.pickadate("picker");';
									dateTemplate += 'picker.on({close: function() {$(document.activeElement).blur();}});';
									dateTemplate += '<\/script>';
									return dateTemplate;
								}
								return data;
							},
							"className": "text-center",
							"orderable": false
							},
							{
							"data": "EndDate",
							"title": "End Date",
							"render": function (data, type, row) {
								if (type === "display") {
									var dateTemplate = '<input type="text" id="end_';
									dateTemplate += row.Id;
									dateTemplate += ' value=';
									dateTemplate += (row.EndDate != null && row.EndDate !== "" ? row.EndDate : "");
									dateTemplate += ' aria - label="Display Order" class="form- control datepicker" style= "width: 100px"><script type="text/ javascript">';
									dateTemplate += ' $(start_' + row.Id + ').pickadate({ format: "d MMM yyyy" });';
									dateTemplate += 'var $input = $(start_' + row.Id + ').pickadate();';
									dateTemplate += 'var picker = $input.pickadate("picker");';
									dateTemplate += 'picker.on({close: function() {$(document.activeElement).blur();}});';
									dateTemplate += '<\/script>';
									return dateTemplate;
								}
								return data;
							},
							"className": "text-center",
							"orderable": false
						},
							{
								"data": "IsDefault",
								"title": "Default",
								"render": function (data, type, row) {
									if (type === "display") {
										return '<div class="form-check"><input type="checkbox" name="defaultpicture" class="form-check-input" id="default_' + row.PictureId + '"><label class="form-check-label" for="' + row.PictureId + '"></label></div>';
									}
									return data;
								},
								"className": "text-center",
								"orderable": false
							},
							{
								"data": "DisplayOrder",
								"title": "Display Order",
								"render": function (data, type, row) {
									if (type === "display") {
											return '<input type="number" value="' + (row.DisplayOrder > 0 ? "0" : "") + '" aria-label="Display Order" class="form-control" style="width: 100px">';
									}
									return data;
								},
								"className": "text-center",
								"orderable": false
							},
							{
								"title": "Actions",
								"orderable": false,
								"className": 'text-center',
								"render": function (data, type, row) {
									if (type === "display") {
										return '<a href="/Admin/Event/Edit/' + row.Id + '" id="edit_' + row.Id + '" title="Edit"><i class="fa fa-2x fa-pencil-square-o" aria-hidden="true"></i></a>&nbsp;&nbsp;<a id="eventid_' + row.Id + '" href="javascript:void(0);" title="Delete"><i class="fa fa-2x fa-trash-o" aria-hidden="true"></i></a>';
									}
									return data;
								}
							}
						],
						"select": {
							"style": 'os',
							"selector": 'td:first-child'
						}
					});
				</script>
				<div id="pager"></div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-body">
				<script type="text/javascript">
					$(document).ready(function() {
						$('#addEventPicture').click(function () {
							var pictureId = $("#@Html.IdFor(model => model.InsertPictureModel.PictureId)").val();
							var displayOrder = $("#@Html.IdFor(model => model.InsertPictureModel.DisplayOrder)").val();
							var isDefault = $("#InsertPictureModel.IsDefault").val();

							if (pictureId === 0) {
								alert('Upload picture first');
								return;
							}

							$('#addEventPicture').attr('disabled', true);

							var postData = {
								pictureId: pictureId,
								displayOrder: displayOrder,
								isDefault: false,
								eventId: @Model.Id,
								startDate: new Date(),
								endDate: new Date()
							};

							addAntiForgeryToken(postData);

							$.ajax({
								cache: false,
								type: "POST",
								url: "@(Url.Action("EventPictureAdd", "Event"))",
								data: postData,
								success: function(data) {
									$('#addEventPicture').attr('disabled', false);
									$('#eventpictures-grid').trigger('reloadGrid');
								},
								error: function (xhr, ajaxOptions, thrownError) {
									console.log(xhr.responseText);
									alert('Failed to add event picture.');
									$('#addEventPicture').attr('disabled', false);
								}
							});
						});
					});
				</script>
				<div class="row text-left">
					<div class="col-md-6 mb-4">
						<div class="md-form">
							@Html.EditorFor(model => model.InsertPictureModel.PictureId)
							@Html.ValidationMessageFor(model => model.InsertPictureModel.PictureId)
						</div>
					</div>
				</div>
				<div class="row text-left">
					<div class="col-md-6">
						<div class="md-form">
							<button type="button" id="addEventPicture" class="btn btn-primary"><i class="fa fa-plus-circle"></i> ADD</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
	else
	{
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="alert alert-info" role="alert">
					<strong>Heads up!</strong> Please save event first to upload picture.
				</div>
			</div>
		</div>
	}
</div>
