@model SMS.Models.AssessmentModel
@using EF.Services;
@{
    ViewBag.Title = "Assessments";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Assessments</h3>
    </div>
    <div class="col-md-7 align-self-center">
        @Html.Raw(Html.BuildBreadcrumbNavigation())
    </div>
</div>
<div class="row">
    <div class="col-md-12 mr-4">
        <section class="list-form">
            @using (Html.BeginForm())
            {
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="input-group pull-right">
                            @Html.ActionLink("Create Assessment", "Create", "Assessment", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <br />
                        <div class="form-group">
                            <table cellspacing="0" class="table display table-striped w-auto text-nowrap custom-table" width="100%" style="width: 100% !important;">
                                <thead>
                                    <tr>
                                        <th class="no-sort"><div class="form-check"><input type="checkbox" id="allcheck" value="allcheck" /><label for="allcheck"></label></div></th>
                                        <th class="text-center">Name</th>
                                        <th class="text-center">Start Date</th>
                                        <th class="text-center">End Date</th>
                                        <th class="text-center">Level</th>
                                        <th class="text-center">Total Questions</th>
                                        <th class="text-center">Passing Marks</th>
                                        <th class="text-center">Maximum Marks</th>
                                        <th class="text-center">Active</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
        </section>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("li#assessments ul").css("height", "");
        // Initiallize Datatable
        var table = $('.custom-table').DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "pageLength": 25,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "ajax": {
                "url": "/Admin/Assessment/LoadGrid",
                "type": "POST",
                "datatype": "json"
            },
            "aaSorting": [],
            "columns": [
                {
                    'searchable': false,
                    "title": "",
                    "data": "",
                    "render": function (data, type, row) {
                        if (type === "display") {
                            return '<div class="form-check"><input type="checkbox" name="selectedids" class="form-check-input" id="' + row.Id + '"><label class="form-check-label" for="' + row.Id + '"></label></div>';
                        }
                        return data;
                    },
                    "orderable": false,
                    "className": 'text-center',
                    "defaultContent": ""
                },
                {
                    "data": "Name", "title": "Name", "name": "Title", "autoWidth": true, "defaultContent": "", "className": "text-center",
                },
                {
                    "data": "StringStartTime", "title": "Start Time", "name": "Start Time", "autoWidth": true, "orderable": false, "defaultContent": "", "className": "text-center",
                },
                {
                    "data": "StringEndTime", "title": "End Time", "name": "End Time", "autoWidth": true, "orderable": false, "defaultContent": "", "className": "text-center",
                },
                {
                    "data": "DifficultyLevel", "title": "Level", "name": "Level", "autoWidth": true, "orderable": false, "defaultContent": "", "className": "text-center",
                },
                {
                    "data": "TotalQuestions", "title": "Questions", "name": "Questions", "autoWidth": true, "orderable": false, "defaultContent": "", "className": "text-center",
                },
                {
                    "data": "PassingMarks", "title": "Passing Marks", "name": "Passing Marks", "autoWidth": true, "orderable": false, "defaultContent": "", "className": "text-center"
                },
                {
                    "data": "MaxMarks", "title": "Max Marks", "name": "Max Marks", "autoWidth": true, "orderable": false, "defaultContent": "", "className": "text-center"
                },
                {
                    "data": "IsActive",
                    "title": "Active",
                    "render": function (data, type, row) {
                        if (type === "display") {
                            if (row.IsActive) {
                                return '<a href="javascript:void(0);" id="' + row.Id + '" class="toggle_' +
                                    row.Id +
                                    '" data-operation="deactivate" data-id="' +
                                    row.Id +
                                    '" title="Deactivate Exam"><i class="fa fa-2x fa-check-circle" aria-hidden="true"></i></a>';
                            } else {
                                return '<a href="javascript:void(0);" id="' + row.Id + '" class="toggle_' +
                                    row.Id +
                                    '" data-operation="activate" data-id="' +
                                    row.Id +
                                    '" title="Activate Exam"><i class="fa fa-2x fa-close" aria-hidden="true"></i></a>';
                            }
                        }
                        return data;
                    },
                    "className": "text-center",
                    "orderable": false,
                    "defaultContent": ""
                },
                {
                    "title": "Actions",
                    "orderable": false,
                    "className": 'text-center',
                    "render": function (data, type, row) {
                        if (type === "display") {
                            return '<a href="/Admin/Assessment/Edit?id=' + row.Id + '" id="edit_' + row.Id + '" title="Edit"><i class="fa fa-2x fa-pencil-square-o" aria-hidden="true"></i></a>&nbsp;&nbsp;<a href="/Admin/Assessment/AssessmentQuestions?id=' + row.Id + '" title="Add/Update Questions"><i class="fa fa-2x fa-question-circle" aria-hidden="true"></i></a>&nbsp;&nbsp;<a href="/Admin/Assessment/AssessmentStudents?id=' + row.Id + '" title="Add/Update Students"><i class="fa fa-2x fa-users" aria-hidden="true"></i></a>';
                        }
                        return data;
                    },
                    "defaultContent": ""
                }
            ],
            "select": {
                "style": 'os',
                "selector": 'td:first-child'
            }
        });

        $('#allcheck').on('click', function () {
            var rows = table.rows({ 'search': 'applied' }).nodes();
            $('input[type="checkbox"]', rows).prop('checked', this.checked);
        });
        $('.custom-table tbody').on('change', 'input[type="checkbox"]', function () {
            if (!this.checked) {
                var el = $('#allcheck').get(0);
                if (el && el.checked && ('indeterminate' in el)) {
                    el.indeterminate = true;
                }
            }
        });

        $("input[name=selectedids]").change(function () {
            if ($(this).prop('checked')) {
                $(this).attr('checked', true).val(true);
            }
            else {
                $(this).attr('checked', false).val(false);
            }
        });

        $('a[class^="toggle_"]').click(function (e) {
            if (confirm("Are you sure, you want to update status for the selected assessment?")) {
                e.preventDefault();
                var postData = {
                    id: $(this).attr("id")
                };
                addAntiForgeryToken(postData);

                var operation = $(this).attr('data-operation').trim().toLowerCase();
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "@(Url.Action("Toggle", "Assessment"))",
                    data: postData,
                    success: function (data, result) {
                        if (result === "success") {
                            setTimeout(function () {
                                $.gritter.add({
                                    title: "Success",
                                    text: "Assessment Updated Successfully!",
                                    sticky: !0,
                                    time: "",
                                    class_name: "my-sticky-class"
                                });
                            },
                                1e3);
                            $('.custom-table').DataTable().ajax.reload();
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(xhr.responseText);
                        setTimeout(function () {
                            $.gritter.add({
                                title: "Failure",
                                text: xhr.responseText,
                                sticky: !0,
                                time: "",
                                class_name: "my-sticky-class"
                            });
                        },
                            1e3);
                    },
                    traditional: true
                });
            }
            return false;
        });
    });
</script>