
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccessDenied</title>
</head>
<body>
    <h2>You Are Not Authorized To View This Page. Click <a href='@Url.Action("Index", "Home", new { Area = "" })'> Here</a> To Go Back</h2>
</body>
</html>
