@model SMS.Areas.Admin.Models.DashboardModel
@{
    var q = (from x in Model.FeedbacksChartModels
             select new { x.Feedbacks.Count, x.Feedbacks_WeekStart, x.Feedbacks_WeekEnd });

    var _chartValues = q.AsEnumerable().Select(item => new KeyValuePair<int, string>(item.Count, item.Feedbacks_WeekStart.ToString("dd MMM") + "<br/> To <br/>" + item.Feedbacks_WeekEnd.ToString("dd MMM"))).ToList();
    var _ticks = String.Join(", ", _chartValues.Select(kvp => String.Format("['{0}',{1}]", kvp.Value, kvp.Key)));
}
<div class="row chart-space">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        @Html.DropDownListFor(m => m.Feedbacks_SelectedMonth, Model.Feedbacks_AvailableMonths, new { @class = "form-control selectpicker", @style = "Width:100%;" })
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        @Html.DropDownListFor(m => m.Feedbacks_SelectedYear, Model.Feedbacks_AvailableYears, new { @class = "form-control selectpicker", @style = "Width:100%;" })
    </div>
    <div class="clearfix"></div>
    <div id="feedbackschart" style="height:400px;width:300px; "></div>
    <script type="text/javascript">
        $(document).ready(function () {
            $.jqplot.config.enablePlugins = true;
            var line1 = [@Html.Raw(_ticks)];
            var plot1 = $.jqplot('feedbackschart', [line1], {
                title: 'Registered Queries',
                pointLabels: {
                    show: true
                },
                axes: {
                    xaxis: {
                        renderer: $.jqplot.CategoryAxisRenderer,
                        label: '@q.FirstOrDefault().Feedbacks_WeekStart.Year.ToString()'
                    },
                    yaxis: {
                        min: 0,
                        tickInterval: '10',
                        label: 'Queries'
                    }
                },
                series: [{ lineWidth: 4, markerOptions: { style: 'circle' } }]
            });
        });
    </script>
</div>
