@model SMS.Models.CustomPageModel
@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}
<script type="text/javascript">
        $(document).ready(function () {
            $("fieldset div").each(function () {
                $(this).css('width','100% !important;');
            });
        });
</script>
@using (Html.BeginForm("Contact", "Common", FormMethod.Get, new { enctype = "multipart/form-data", @class = "well form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <fieldset style="width:100%;display:block;">
        <!-- Form Name -->
        <legend>Contact Us</legend>
        <div class="htmlBody">
            @Html.Raw(Model.BodyHtml)
        </div>
    </fieldset>
}

