@model SMS.Models.CustomPageModel
@{
    ViewBag.Title = "Pharma PCD";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}
<script type="text/javascript">
        $(document).ready(function () {
            $("#main-menu li").removeClass('active');
            $("#main-menu li:nth-child(3)").addClass('active');
            $("fieldset div").each(function () {
                $(this).css('width', '100% !important;');
            });
        });
</script>
@using (Html.BeginForm("Pharma", "Common", FormMethod.Get, new { enctype = "multipart/form-data", @class = "well form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <fieldset style="width:100%;display:block;">
        <!-- Form Name -->
        <legend>Pharma PCD</legend>
        <div class="htmlBody">
            @Html.Raw(Model.BodyHtml)
        </div>
    </fieldset>
}

